*{
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(30, 31, 29);
}

main {
    min-height:100vh ;
    background-image: url(/backgroud/4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

main .main-text {
    display: flex;
    align-self: center;
    align-items: center;
    width: 45%;
    height: 120px;
    padding-left:8%;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    /* filter: blur(2px); */
    letter-spacing: 5px;
    backdrop-filter: blur(10px);
    color: white;
} 

main .main-text  > p {
    margin-right: 20px;
}


.team .title {
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
}

.team > ul {
    margin-top: 20px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.team  > ul > li {
    padding-top: 10px;
    width: 15%;
    height: 220px;
    background-color: #140E0E;
    text-align: center;
    margin-right: 10px;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.team  > ul > li > img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.team  > ul > li > .details {
    padding-top: 10px;
    color: white;
}