@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan-webfont.eot") format("eot"),
        url("../fonts/BYekan-webfont.woff") format("woff"),
        url("../fonts/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(30, 31, 29);
    font-family: 'BYekan' !important;
}

main {
    min-height:100vh ;
    background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)) , url(/public/backgroud/group1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    
}

main .main-text {
    display: flex;
    align-self: center;
    align-items: center;
    width: 50%;
    height: 120px;
    padding-left:8%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
} 

main .main-text  > h1 {
    position: absolute;
}

main .main-text > p {
    font-family: 'BYekan';
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 1.75em;
    margin-top: 120px;
    font-size: 20px;
    color: rosybrown;
    right: 0;
    left: 5%;
}

main .main-text > span {
    width: 100%;
    margin-top: 230px;
    font-size: 20px;
}


.features {
    display: flex;
    justify-content: space-around;
    color: #e0dbdb;
    direction: rtl;
    font-size: 20px;
    position: relative;
    height: 920px;
    margin-top: 50px;
}

.features > h1 {
    text-align: center;
}

.features .prmanagement-features {
    margin-top: 125px;
    position: absolute;
    right: 10%;
}

.features .prmanagement-features > p {
    margin-bottom: 20px;
    font-size: 25px;
}

.features .prmanagement-features > ul {
    list-style: decimal-leading-zero;
}

.features .prmanagement-features > ul > li {
    margin-top: 5px;
    background-color: rgb(219, 29, 29);
    padding: 10px;
    transition:all ease-in-out 0.2s;
    cursor: pointer;
}

.features .prmanagement-features > ul > li:hover {
    background-color: purple;
}

.features .crm-features {
    margin-top: 125px;
    position: absolute;
    left: 10%;
}

.features .crm-features > ul {
    list-style: decimal-leading-zero;
}

.features .crm-features > ul > li {
    margin-top: 5px;
    background-color: rgb(219, 29, 29);
    padding: 10px;
    transition:all ease-in-out 0.2s;
    cursor: pointer;
}

.features .crm-features > ul > li:hover{
    background-color: purple;
}


.features .crm-features > p {
    margin-bottom: 20px;
    font-size: 25px;
}

.funderline {
    height: 2px;
    background-color: red;
    margin-top: 70px;
}

.roadmap {
    height: 520px;
    width: 100%;
    margin-top: 75px;
    position: relative;
}

.roadmap .roadmap-title {
    text-align: center;
    font-size: 30px;
    color: white;
    word-spacing: 10px;
    margin-top: 20px;
}

.roadmap > img {
    width: 1200px;
    height: 600px;
    margin-left: 7%;
}

.underline {
    margin-top: 10px;
    padding: 2px;
    background-color: green;
    display: block;
    height: 2px;
    width: 25%;
    position: absolute;
    left: 38%;
}

.tunderline {
    height: 2px;
    background-color: purple;
    width: 100%;
    margin-top: 50px;
    position: absolute;
}

.team {
    margin-top: 50px;
    padding: 50px 0;
    position: relative;
    
}

.team .title {
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
}

.team > ul {
    margin-top: 80px;
    margin-top: 20px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.team  > ul > li {
    padding-top: 10px;
    width: 15%;
    height: 220px;
    background-color: #140E0E;
    text-align: center;
    margin-right: 10px;
    transition: all ease-in-out 0.2s;
    box-shadow: 10px 5px 5px rgb(27, 26, 26);
}

.team  > ul > li:hover {
    border-color: purple;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;  
}

.team  > ul > li > img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.team  > ul > li > .details {
    padding-top: 10px;
    color: white;
}

.team  > ul > li > .details > p {
    font-size: 18px;
}

.team  > ul > li > .details > .response {
    margin-top: 10px;
    color: gray;
}
